* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

body {
    background: grey;
}

#navbar {
    position: fixed;
    width: 100%;
    min-height: 60px;
    background: #ffff;
    text-align: center;
}

#main-ul {
    position: relative;
    top: 0px;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    min-height: inherit;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

li {
    list-style-type: none;
}



.nav-links {
    display: inline-block;
}

.nav-links a{
    font-size: 1.3rem;
}

span {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: 550;
}

.nav-links #logo {
    color: coral;
    font-size: 3rem;
    font-weight: 550;
    text-transform: none;
}


.left-side {
    text-align: left;
    margin-left: 2rem;
}

.right-side {
    text-align: right;
    margin-right: 2rem;
}

.right-side .nav-links:last-child a {
    background: lightgreen;
    color: white;
    margin-left: 1rem;
    padding: .8rem;
}