* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    background: grey;
}

a {
    text-decoration: none;
    color: grey;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

#navbar {
    background: white;
    min-height: 4rem;
}   

.main-ul {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    text-align: center;
    min-height: inherit;
    align-items: center;
}



.left-links {
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
}

.right-links {
    display: grid;
    grid-template-columns: 30% 70%;
}

.left-elm {
    color: black;
    font-family: sans-serif;
}


#logo a {
    color:coral;
    font-size: 2rem;
    font-weight: 550;
    text-transform: none;
}


#choose {
    background: green; 
    color: white;
    padding: .5rem 2rem;
}

@media (min-width: 600px) {
    * {
        font-size: 16px;
    }
}

